# ========================
# Go / Binários
# ========================
bin/
testbin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# ========================
# Kubernetes / Helm
# ========================
*.tgz
charts/*/charts/
charts/*/tmp/

# ========================
# Configurações Locais
# ========================
.env
*.pem
kubeconfig

# ========================
# IDEs e OS
# ========================
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db